
<div class="seat-selection">
  <div class="back-button">
    <a routerLink="/tickets"><i class="fas fa-arrow-left"></i></a>
  </div>

  <h1 class="page-title">Seat Preview</h1>

  <div class="movie-details">
    <img [src]="movie.movieImageUrl" [alt]="movie.movieName" />
    <div class="details">
      <h2>{{movie.movieName}}</h2>
      <p>{{theatre.location}}</p>
      <p>{{showtime.startTime | date: 'dd:MM:YYYY h:mm a' }}</p>
      <p><strong>{{theatre.name}}</strong></p>
      <p> <i class="fas fa-map-marker-alt"></i></p>
    </div>
  </div>

  <div class="screen-container">
    <h3>Screen</h3>
    <div class="seat-grid">
      <div 
        class="seat" 
        *ngFor="let seat of seats" 
        [ngClass]="{'occupied': seat.seatTaken , 'chosen': seat.selected}"
        (click)="selectSeat(seat)"
      >
        {{ seat.seat }}
      </div>
    </div>
    <div class="seat-legend">
      <span><i class="seat available"></i> Available</span>
      <span><i class="seat occupied"></i> Occupied</span>
    </div>
  </div>

  <button class="buy-ticket-btn" [disabled]="chosenSeats.length === 0" (click)="buyTicket()">Buy Ticket</button>
</div>
