
<div class="payment-page">
  <div class="back-button">
    <a routerLink="/tickets/seat-selection"><i class="fas fa-arrow-left"></i></a>
  </div>

  <h1 class="page-title">Payment</h1>

  <div class="payment-details">
    <!-- Movie Details -->
    <div class="movie-details">
      <img [src]="movie.movieImageUrl" [alt]="movie.movieName" />
      <div class="details">
        <h2>{{movie.movieName}}</h2>
        <p>{{showtime.startTime | date: 'EEE, MMM d yyyy' }}</p>
        <p>{{ showtime.startTime | date: 'h:mm a' }}</p>
        <p><strong> {{theatre.name}}</strong></p>
        <p>{{theatre.location}} <i class="fas fa-map-marker-alt"></i></p>
      </div>
    </div>

    <!-- Payment Summary -->
    <div class="summary">
      
      <div class="summary-item">
        <span>Theatre</span>
        <span>{{theatre.name + ', ' + theatre.location}}</span>
      </div>

      <div class="summary-item">
        <span>Seat</span>
        <span>{{seatList}}</span>
      </div>
      <div *ngIf="promoCodeDiscount!==0 " class="summary-item">
        <span>Promo Code </span>
        <span>{{movie.moviePrice}}</span>
      </div>

      <div class="summary-item">
        <span>Total</span>
        <span>{{movie.moviePrice * chosenSeats.length}}</span>
      </div>

      <div class="discount">
        <input type="text" placeholder="Discount code"  [(ngModel)]="discountCode" [disabled]="validatedPromoCode"/>
        <button class="apply-btn" [disabled]="!discountCode" (click)="validatePromoCode()" >Apply</button>
      </div>
    </div>

    <!-- Payment Methods -->
    <div class="payment-methods">
      <h2>Payment Method</h2>
      <div class="method">
        <i class="fas fa-credit-card"></i>
        <span>Debit Card/Credit Card</span>
        <i class="fas fa-chevron-right"></i>
      </div>
      <!-- <div class="method">
        <i class="fas fa-globe"></i>
        <span>International payments (Visa, Mastercard, Amex)</span>
        <i class="fas fa-chevron-right"></i>
      </div> -->
    </div>
  </div>
  <app-payment (paymentEvent)="handlePayment($event)" ></app-payment>

  <!-- Continue Button -->
  <button class="continue-btn"  (click)="proceedToPayment()">pay</button>
</div>