  <header class="header">
    <div class="header-container">
      <!-- Logo -->
      <div class="logo">
        <img src="assets/logo.png" alt="AcmePlex Logo" />

      </div>
  
      <div class="nav">
      <!-- Navigation Links -->
      <nav class="nav-links">
        <a routerLink="/" routerLinkActive="active">Home</a>
        <a routerLink="/ticket" routerLinkActive="active">Tickets</a>
      </nav>
  
      <!-- Account Button -->
      <button class="account-btn "routerLink="/auth/sign-in" >Account</button>
    </div>
    </div>
  </header>
  