.header {
  background-color: #1f1f1f;
  color: #fff;
  padding: 10px 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);

  .header-container {
    display: flex;
    align-items: center;

    .logo {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 60px;
        height: auto;
      }

      span {
        font-size: 1.2rem;
        font-weight: bold;
        color: #fff;
      }
    }

    .nav{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       gap: 20px;
       width: 100%;

       &-links { 
      display: flex;
      padding: 10px;
      gap: 20px;

      a {
        text-decoration: none;
        font-size: 1rem;
        color: #ccc;
        transition: color 0.3s ease;

        &:hover {
          color: #f05454;
        }

        &.active {
          color: #f05454;
        }
      }
    }
    }

    .account-btn {
      background-color: #f05454;
      color: #fff;
      border: none;
      border-radius: 211px;
      padding: 10px 20px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #d94343;
      }
    }
  }
}
