@import '~bootstrap/scss/bootstrap';

html,
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  &-header{
    padding: 20px;
    background-color: #121212;

  }
}

.content {
  flex: 1; // Ensures this section takes up all available space
  padding: 20px;
  background-color: #121212; // Adjust as needed
  color: #fff;
  min-height: 70vh !important;

}


.toast-body {
  min-height: 40px;
  color: #fff;
}
