
<div class="ticket-selection">
  <!-- Back Button -->
  <div class="back-button">
    <a routerLink="/movies"><i class="fas fa-arrow-left"></i></a>
  </div>

  <!-- Page Title -->
  <h1 class="page-title">Show Time</h1>

  <!-- Ticket Selection Container -->
  <div class="ticket-container">
    <!-- Movie and Date Selection -->
    <div class="selection-row">
      <div class="selection-item">
        <label for="movie">Movie</label>
        <div class="selection-box">
          <span>{{movie.movieName}}</span>
          <i class="fas fa-film"></i>
        </div>
      </div>
      <div class="selection-item">
        <label for="date">From Date</label>
        <div class="selection-box">
          <span>Wed, Nov 20 2024</span>
          <i class="fas fa-calendar-alt"></i>
        </div>
      </div>
    </div>

    <div class="selection-row " >

    <!-- Movie Details -->
    <div class="movie-details selection-item">
      <img [src]="movie.movieImageUrl" [alt]="movie.movieName" />
      <ul>
        <li><strong>Length:</strong> {{movie.movieDuration | duration }}</li>
        <li><strong>Rating:</strong> {{movie.movieRating}}</li>
        <li><strong>Genre:</strong> {{movie.movieGenre}}</li>
      </ul>
    </div>

    <!-- Showtime Selection -->
    <div class="showtimes selection-item">
      <div class="times">
        <button *ngFor="let time of showtimes" (click)="selectShowtime(time)" [class.selected]="time.id === selectedShowtime?.id">
          {{ time.startTime | date: 'dd:MM:YYYY h:mm a' }}
        </button>
      </div>
      <button class="view-seats-btn" [disabled]="!selectedShowtime" (click)="goToSeatSelection()">
        <i class="fas fa-chair"></i> View Seats
      </button>
    </div>
    </div>
  </div>
</div>